body {
    margin-top: 10%;
    margin-left: 2%; 
}

form {
    margin-top: 8%;
}

label {
    float: none;
    font-size: 80%;
    width: 175px;
    font-weight: bold;
    padding: 3px;
}

input {
    width: 250px;
    padding: 3px;
    margin-top: -10px;
}

textarea {
    resize:both;
}

h3 {
    text-align: center;
}

.submitbutton {
    margin-left: 21%;
}

