body {
    margin-top: 71px;
    background-color: orange;
}
h1 {
    text-align: center;
    font-family: "Cambria","Arial","SansSerif";
    font-size: 36pt;
}
nav {
    height: 50px;
    color: white;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
	color: yellow;
	text-decoration: overline;
}
.navbarButtons {
    background-color: transparent;
}
.form-control {
    width: 225px;
    margin-left: auto;
    margin-right: auto;
}
label {
    text-align: center;
    display: block;
}
.center {
    text-align: center;
    font-family: "Cambria","Arial","SansSerif";
}
.btn {
    background-color: black;
    /*border-width: 0px;*/
    border-color: grey;
    color:white;
    font-size: 20pt;
    padding-left: 2%;
    padding-right: 2%;
}
